@import '../../styles/variables.scss';

.header {
  background-color: $primary-color;
  color: $text-color-white;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .title {
    margin: 0;
    font-size: 1.5rem;
    color: $text-color-white;
  }

  .logoutButton {
    background-color: $danger-color;
    color: $text-color-white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: darken($danger-color, 10%);
    }

    .logoutContainer {
        display: flex;
        align-items: center;
        gap: 5px;
    }

    .icon {
        font-size: 1.2rem;
    }
  }
}
